<html xmlns="https://www.w3.org/1999/xhtml" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="referrer" content="no-referrer">
        <link rel="stylesheet" href="public/Books_type.css">
        <script src="public/Books_types.js"></script>
    </head>
    <body>
        <div class="HeaderBook">
            <div class="chbox" id="myRow">
                % for type in types:
                % if cur_type == type:
                <a id="Books${type}">分類${type}</a>&ensp;
                % else:
                <a href="Books${type}.html" id="Books${type}">分類${type}</a>&ensp;
                % endif
                % endfor
            </div>
        </div>
        <div class="BookList">
            <div class="wapper">
                % for book in books:
                <div class="bs">
                    <div class="thumbnail-list">
                        <a href="${book["HREF"]}?TOP=1">
                            <div class="thumbnail">
                                % if book["FLAG"] == 0:
                                <span class="UpdateStatus">Completed</span>
                                % elif book["FLAG"] == 2:
                                <span class="UpdateStatus">&nbsp;&nbsp;Stoped&nbsp;&nbsp;&nbsp;</span>
                                % endif
                                <img src="${book["SRC"]}">
                            </div>
                            <div class="title">${book["TITLE"]}</div>
                        </a>
                    </div>
                </div>
                % endfor
            </div>
        </div>
    </body>
</html>
