/* 全体のスタイリング */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* スクロールバーを非表示 */
/* WebKitベースのブラウザのスクロールバーを非表示にする */
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* Firefoxのスクロールバーを非表示にする */
html {
    scrollbar-width: none;
}

body {
    display: inline;
    font-family: "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", "游ゴシック", "Yu Gothic", "メイリオ", "Meiryo", "Verdana", "Helvetica", "Arial", "sans-serif";
}

.HeaderPage {
    position: sticky;
    /* ヘッダーを固定する */
    top: 0;
    /* 上部から配置の基準位置を決める */
    left: 0;
    /* 左から配置の基準位置を決める */
    width: calc(100vw - 12px);
    /* 横幅を指定する */
    height: 1.3em;
    /* 高さを指定する */
    padding: 2px;
    /* 余白を指定する(上下左右) */
    background-color: #31a9ee;
    /* 背景色を指定する */
    color: #000000;
    /* フォントの色を指定する */
    display: flex;
    justify-content: space-between;
}

.no-underline {
    text-decoration: none;
}

a.title {
    white-space: nowrap;
    /* 横幅のMAXに達しても改行しない */
    overflow: hidden;
    /* ハミ出した部分を隠す */
    text-overflow: ellipsis;
    /* 「…」と省略 */
    line-height: 1;
    width: 100%;

    border-radius: 5px;
    border: 1px solid #333;
}

div.title a {
    width: 100%;
}

div.Next {
    margin: 0 0 0 10px;
    white-space: nowrap;
    line-height: 1;
    border-radius: 5px;
    border: 1px solid #333;
}

div.Prev {
    margin: 0 10px 0 0;
    white-space: nowrap;
    line-height: 1;
    border-radius: 5px;
    border: 1px solid #333;
}

/* 画像表示領域のスタイリング */
#image-viewer {
    position: sticky;
    /* ヘッダーを固定する */
    top: 1.3em;
    /* 上部から配置の基準位置を決める */
    left: 0;
    /* 左から配置の基準位置を決める */
    width: auto;
    height: calc(100vh - 1.5em);
    display: flex;
    /* フレックスボックスを使う */
    flex-direction: row;
    /* 子要素を並べる */
    align-items: center;
    /* 中央揃え(垂直) */
    justify-content: center;
    /* 中央揃え(水平) */
    overflow: hidden;
    /* 画像が領域外に出ないようにする */
}

/* 画像のスタイリング */
#image-viewer div img {
    height: 100%;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    /* アスペクト比を維持しつつ、コンテンツ全体が要素のボックスに収まるように調整 */
    pointer-events: none;
    /* 画像に対するすべてのポインターイベントが無効 */
}

div.img-left {
    position: relative;
    /* 親要素に相対位置を設定 */
    display: none;
}

div.img-center {
    position: relative;
    /* 親要素に相対位置を設定 */
    display: inline;
}

div.img-right {
    position: relative;
    /* 親要素に相対位置を設定 */
    display: none;
}

/* レスポンシブデザイン: 縦横比に応じてスタイリングを変更 */
@media (min-aspect-ratio: 3/2) {
    div.img-left {
        display: inline;
    }

    div.img-center {
        display: none;
    }

    div.img-right {
        display: inline;
    }
}

div.last-page {
    position: absolute;
    /* テキストに絶対位置を設定 */
    top: 0;
    /* 上端からの距離 */
    left: 0;
    /* 左端からの距離 */
    text-align: center;
    /* テキストを中央揃え */
    padding: 10px;
    /* テキストのパディング */
    height: 100%;
    width: 100%;
}

div.last-page a div {
    display: flex;
    justify-content: center;
    /* 水平方向の中央揃え */
    align-items: center;
    /* 垂直方向の中央揃え */
    height: 100%;
    width: 100%;
    font-size: 2em;
}

.progress-container {
    width: 100%;
    height: 100%;
    background-color: #ddd;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #31a9ee;
}
