<html xmlns="https://www.w3.org/1999/xhtml" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="referrer" content="no-referrer">
        <link rel="stylesheet" href="../../public/Chapter_top.css">
        <script src="../../public/Chapter_top.js"></script>
    </head>
    <body>
        <div class="HeaderPage">
            <a href="#"
               onclick="return returnBookList('../../Books${type}.html');"
               class="no-underline">
                <div class="header">ブックリストに戻る</div>
            </a>
        </div>
        <div class="BodyPage">
            <div class="wrapper">
                <div class="BookInfo">
                    <img src="${thumb}" class="thumbnail">
                    <br>
                    <div>
                        <span class="title">${title}</span>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox"
                                   id="MarkCheckbox"
                                   onclick="handleClick('${book_key}', '${title}', '${thumb}')">
                            マーク
                        </label>
                    </div>
                </div>
                <div class="ChapterList">
                    <ul class="clstyle">
                        % for chapter in chapters:
                        <li class="cllist">
                            <a href="#"
                               onclick='return returnChapter("${chapter["HREF"]}");'
                               class="no-underline">
                                <div class="chbox type-${chapter["KEY"].replace('.', '-')}">
                                    <div class="eph-num">
                                        <span class="chapternum">${chapter["NUM"]}</span>
                                        <span class="chapterdate">${chapter["DATE"]}</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        % endfor
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript">loadChapterKey("${book_key}");</script>
    </body>
</html>
