<html xmlns="https://www.w3.org/1999/xhtml" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="referrer" content="no-referrer">
        <link rel="stylesheet" href="../../public/Chapter.css">
        <script src="../../public/Chapter.js"></script>
    </head>
    <body>
        <div class="HeaderPage">
            <div class="Prev">
                <a onclick="return returnChapter('${prev["HREF"]}');"
                   href="#"
                   class="no-underline">
                    <div>${prev["NUM"]}</div>
                </a>
            </div>
            <a href="#"
                onclick="return returnBookList('${chapter_top}');"
                class="no-underline title">
                <div>${title}</div>
            </a>
            <div class="Next">
                <a href="#"
                   onclick="return returnChapter('${next["HREF"]}');"
                   class="no-underline">
                    <div>${next["NUM"]}</div>
                </a>
            </div>
        </div>
        <div id="image-viewer">
            <div class="img-center">
                <img src="#" class="noContextMenu" style="divisibilitysplay:visible;">
                <div class="last-page" style="visibility:hidden;">
                    <a href="#"
                    onclick="return returnChapter('${next["HREF"]}');"
                    class="no-underline">
                        <div>${next["NUM"]}</div>
                    </a>
                </div>
            </div>
            <div class="img-left">
                <img src="#" class="noContextMenu" style="visibility:visible;">
                <div class="last-page" style="visibility:hidden;">
                    <a href="#"
                    onclick="return returnChapter('${next["HREF"]}');"
                    class="no-underline">
                        <div>${next["NUM"]}</div>
                    </a>
                </div>
            </div>
            <div class="img-right">
                <img src="#" class="noContextMenu" style="visibility:visible;">
                <div class="last-page" style="visibility:hidden;">
                    <a href="#"
                    onclick="return returnChapter('${next["HREF"]}');"
                    class="no-underline">
                        <div>${next["NUM"]}</div>
                    </a>
                </div>
            </div>
        </div>
        <table id="image-urls" style="display:none;">
            <tr>
                % for i, page in enumerate(pages):
                <td>${page}</td>
                % endfor
            </tr>
        </table>
        <script type="text/javascript">
            /* 画像要素に対しては、右クリック・長押しでメニューを出さない。 */
            var noContextMenu = document.getElementsByClassName('noContextMenu');
            for (var i=0, len=noContextMenu.length|0; i<len; i=i+1|0) {
                noContextMenu[i].addEventListener('contextmenu', e => {
                    e.preventDefault();
                    e.stopPropagation();
                    return false;
                });
            }
            saveChapterKey();
        </script>
    </body>
</html>
