<html xmlns="https://www.w3.org/1999/xhtml" lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="referrer" content="no-referrer">
        <style>
    <%include file="header_style.css" />
        </style>
    </head>
    <body>
        <div class="HeaderPage">
            <a href="../../Books${type}.html"><span>ブックリストに戻る</span></a>
        </div>
        <div class="wrapper">
            <div class="ChapterHeader">
                <img src="${thumb}" width="80%">
                <br>
                <span class="chbox">${title}</span>
            </div>
            <div class="ChapterList">
                <ul class="clstyle">
                    % for chapter in chapters:
                    <li>
                        <div class="chbox type-${chapter["KEY"].replace('.', '-')}">
                            <div class="eph-num">
                                <a href="${chapter["HREF"]}"><span class="chapternum">${chapter["NUM"]}</span><span class="chapterdate">${chapter["DATE"]}</span></a>
                            </div>
                        </div>
                    </li>
                    % endfor
                </ul>
            </div>
        </div>
        <%doc>
        ローカルストレージからキー=book_keyで情報を取得
        </%doc>
        <script type="text/javascript">
            const items = localStorage.getItem("${book_key}");
            if (items != null && items != "") {
                var color = "#A09080";
                for (const item of items.split(' ')) {
                    var tags = document.getElementsByClassName("type-" + item);
                    len = tags.length|0;
                    for (i = 0; i < len; i = i + 1) {
                        tags[i].style.background = color;
                    }
                    color = "#a090807d";
                }
            }
        </script>
    </body>
</html>
